java/code/src/com/redhat/rhn/frontend/action/configuration/channel/validation/channelOverviewForm.xsd

<?xml version="1.0"?>

<schema targetNamespace="http://rhn.redhat.com"
	xmlns="http://www.w3.org/1999/XMLSchema" xmlns:rhn="http://rhn.redhat.com">
	<attribute name="cofName">
		<simpleType baseType="string">
			<minLength value="1" />
			<maxLength value="128" />
		</simpleType>
	</attribute>
	<attribute name="cofLabel">
		<simpleType baseType="string">
			<posix value="true"/>
			<minLength value="1" />
			<maxLength value="64" />
		</simpleType>
	</attribute>
	<attribute name="cofDescription">
		<simpleType baseType="string">
			<minLength value="1" />
		</simpleType>
	</attribute>
</schema>
