java/code/src/com/redhat/rhn/frontend/action/token/validation/activationKeyForm.xsd

<?xml version="1.0"?>

<schema targetNamespace="http://rhn.redhat.com"
	xmlns="http://www.w3.org/1999/XMLSchema" xmlns:rhn="http://rhn.redhat.com">
	<attribute name="description">
		<simpleType baseType="string">
			<maxLength value="2048" />
		</simpleType>
	</attribute>
	<attribute name="key">
		<simpleType baseType="string">
			<maxLength value="45" />
		</simpleType>
	</attribute>
	<attribute name="usageLimit">
		<simpleType baseType="long">
		 	<minInclusive value ="0"/>
		</simpleType>
	</attribute>
</schema>
